body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 100px;
}

h1{
    display: flex;
    margin-bottom: 50px;
}


main{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section{
    width: 70%;
}

aside{
    width: 20%;
}

.course{
    width: 100%;
    /* background-color: green; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
    padding-bottom: 5px;
}

.courseDetails{
    display: flex;
    flex-direction: row;
    color: white;
    background-color: rgb(3, 65, 136);
}

.courseDetails:hover{
    background-color: rgb(0, 95, 204);
    cursor: pointer;
}


.moreLess{
    font-size: 20px;
    display: inline-block;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
}

.assignmentDetails{
    width: 100%;
    box-sizing: border-box;
    margin-top: -10px;
    margin-left: 50px;
    overflow: hidden;
    display: none;
    height: 0;
    animation-duration: .5s;
    /* background-color: grey; */
}


.assignmentDetails div{
    box-sizing: border-box;
    padding: 0  10px 10px;
    margin: 0 0 10px 0;
    border-bottom: .5px dashed grey;
} 
.assignmentDetails div:last-child{
    box-sizing: border-box;
    padding: 0  10px 10px;
    margin: 0 0 10px 0;
    border-bottom:none;
}


/* 

.assignmentDetails div{
    box-sizing: border-box;
    padding: 10px 0;
} */

.assignmentDetails div:nth-child(even){
    background-color: rgb(250, 250, 250);
}

div.courseDetails.active ~ .assignmentDetails{
    display: block;
    height: 100%;
}

.question{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: -15px;
}

.question p{
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    color: rgb(173, 34, 9);
}

.solutionReference p{
    font-size: 20px;
    font-weight: bold;
    /* margin-right: 10px; */
    padding:0 0px;
    color: rgb(7, 122, 16);
}

.solutionReference li{
    margin: 15px 0;
    list-style-type: square;
}

li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


@media only screen and (max-width: 800px){

    body{
        padding: 0 10px;
    }

    h1{
        font-size: 30px;
    }
    
    
    main{
        flex-direction: column;
        justify-content: center;
    }
    
    section{
        width: 100%;
        margin-bottom: 40px;
    }
    
    aside{
        width: 80%;
    }
    
    .course{
        width: 100%;
        /* background-color: green; */
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin:0;
        padding-bottom: 5px;
    }
    
    .courseDetails{
        display: flex;
        flex-direction: row;
    }
    
    .courseDetails:hover{
        background-color: rgb(0, 95, 204);
        cursor: pointer;
    }
    
    
    .moreLess{
        font-size: 20px;
        display: inline-block;
        font-weight: bold;
        padding: 5px 10px 5px 10px;
        margin: 10px;
        border-radius: 50px;
    }
    
    .assignmentDetails{
        margin: 0;
        padding-right: 40px;
        height: 0;
        animation-duration: .5s;
        /* background-color: grey; */
    }
    
    .assignmentDetails div{
        box-sizing: border-box;
        padding: 0  10px 10px;
        margin: 0 0 10px 0;
        border-bottom: .5px dashed grey;
    } 
    .assignmentDetails div:last-child{
        box-sizing: border-box;
        padding: 0  10px 10px;
        margin: 0 0 10px 0;
        border-bottom:none;
    }
    
    .assignmentDetails div:nth-child(even){
        background-color: rgb(250, 250, 250);
    }
    
    .question{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 30px;
    }
    
    .question p{
        font-size: 20px;
        font-weight: bold;
        margin-right: 10px;
        margin-bottom: 10px;
        color: rgb(173, 34, 9);
    }

    .solutionReference p{
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
        margin-right: 0px;
        padding:0;
        color: rgb(7, 122, 16);
    }
    
    .solutionReference li{
        margin: 15px 0;
        list-style-type: square;
    }
    
    li{
        list-style-type: none;
        margin: -10px;
        padding: 0;
    }

    a{
        word-wrap:break-word;
    }
    
}






